<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Configuracion correspondiente a IMSS-->
    <add key="sftpServer" value="10.50.166.129" />
    <add key="userName" value="imss" />
    <add key="password" value="asdf" />
    <add key="port" value="22" />
    <add key="remoteFolder_IMSS" value="/Nomina/AZTECA/del##/acuse/" />
    <add key="numberOfEntities" value="40" />
    <add key="localStorageFolder_BAZ" value="C:\IMSS\ArchivosDescargados\" />
    <add key="backupFolder" value="C:\IMSS\ArchivosDescargados_BackUp\" />
    <add key="monitoring_Frequency" value="30000"/><!--Expresado en milisegundos, valor minimo 30 segundos-->
  </appSettings>
</configuration>